<div class="container">
    <div class="wrapper">
        <div>
            <label>E-mail : </label>
            <input [(ngModel)]="email" type="email">
        </div>
        <div>
            <label>Password : </label>
            <input [(ngModel)]="password" type="email">
        </div>
        <div>
            <label>Name : </label>
            <input [(ngModel)]="name" type="email">
        </div>
        <button (click)="register()">Register</button>
        <button (click)="login()">Login</button>
    </div>
</div>